name: Schedule smoke test

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Scheduler works
        run: |
          echo "scheduler works:"
          date -u
